
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #222;
}

/*properties for body?*/

a {
    text-decoration: none;
}

.bg-img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

header {
    margin-top: 2rem;
    font-size: xxx-large;
    font-weight: 200;
    border: 2px solid black;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
    background-color: #A37A74;
}

main {
    display: flex;
    gap: 1rem;
    background-color: #A8D0DB;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 2px solid black;
    height: auto;
}

nav {
    width: 10em;
    height: 15em;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}

.link-container {
    display: grid;
    height: 5%;
}

.nav-link {
text-decoration: underline;
margin: 1em;   
}

.nav-link:hover {
    color: #A37A74;
    border: 0.5px solid#A37A74;
}

.innhold {
    margin-top: 1rem;
    margin-right: 3rem;
    border: 2px solid black;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.tekst {
    padding: 1rem;  
}

p {  
    margin-bottom: 10px;     /*ikke bruk px*/
    line-height: 2.0;
}

ul{
    line-height: 2em;
}

ol{
    padding-left: 2em;
}

figure{
    display: flex;
    flex-direction: column;
}

.browniebilde{
    margin-top: 2em;
}

.brownietekst{
    text-align: center;
}

footer{
    background-color: #A37A74;
    height: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 2px solid black;
    text-align: left;
    margin-bottom: 2rem;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.overskriftoglink{
    display: flex;
    flex-direction: column;
}

.further-link{
    color: #A37A74;
    background-color: black;
    border: 0.5px solid#A8D0DB;
    width: auto;
    height: 2em;
    padding: 0.3em;
    font-size: smaller;
    margin-bottom: 0.3em;
}

.further-link:hover{
    background-color: #A8D0DB;
}

.footertekst{
font-size: xx-large;
text-align: center;
padding-top: 1em;
width: 100%;
}

q{
    font-style: italic;
}

@media only screen and (max-width: 750px) {
    main {
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
        align-items: center;
    }

    .innhold {
        width: 90%;
        margin-right: 0;
        border-radius: 25px;
        margin-top: 0.5em;
    }

    h1 {
        font-size: xxx-large;
    }

    header {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 25px ;
    }

    nav {
        margin-left: 0;
        width: 90%;
        height: auto;
        margin-bottom: 0.5em;
    }

    footer {
        border-radius: 25px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        height: auto;
    }
   
    .nav-link {
        height: 2rem;
        border: 2px solid#A37A74;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .nav-link:hover {
        color: #A37A74;
        border: 2px solid#A37A74
    }

    main{
        border-radius: 25px;
    }

    footer{
        flex-direction: column;
    }
}
