
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #222;
}

/*properties for body?*/

a {
    text-decoration: none;
}

.bg-img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

header {
    margin-top: 2rem;
    font-size: xxx-large;
    font-weight: 200;
    border: 2px solid black;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
    background-color: #385b9f;
}

main {
    display: flex;
    gap: 1rem;
    background-color: #ed6639;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 2px solid black;
    height: auto;
}

nav {
    width: 10em;
    height: 15em;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}

.link-container {
    display: grid;
    height: 5%;
}

.nav-link {
font-size:normal;
text-decoration: underline;
margin: 1em;    
}

.nav-link:hover {
    color: #385b9f;
    background-color: antiquewhite;
}

.innhold {
    margin-top: 1rem;
    margin-right: 3rem;
    border: 2px solid black;
    width: 70em;
    height:auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.tekst {
    padding: 1rem;  
}

p {  
    margin-bottom: 10px;     /*ikke bruk px*/
    line-height: 1.5;
}

ul{
    line-height: 2em;
}

ol{
    padding-left: 2em;
}

footer{
    background-color: #385b9f;
    height: 5em;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 2px solid black;
    text-align: left;
    margin-bottom: 2rem;
    padding: 1em;
}

@media only screen and (max-width: 750px) {
    main {
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
        align-items: center;
    }

    .innhold {
        width: 90%;
        margin-right: 0;
    }

    h1 {
        font-size: xxx-large;
    }

    header {
        margin-left: 5px;
        margin-right: 5px;
    }

    footer {
        margin-right: 5px;
        margin-left: 5px;
        height: auto;
    }
    nav {
        margin-left: 0;
        width: 90%;
        height: auto;
    }

    .nav-link {
        background-color: #eee;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
